<section class="card my-2">
    <div class="card-header">
        <h2><a href="{{ path('material_show', {'slug': material.slug}) }}">{{ material.name }}</a></h2>
    </div>
    <div class="card-body">
        <p><b>Opslaglocatie: </b>{{ material.location }}</p>
        <p><b>Aantal: </b>{{ material.amount }}</p>
        <p><b>Gekocht: </b>{{ material.dateBought|date('F Y') }} ({{ material.dateBought|ago }})</p>
        <p><b>Is afgeschreven: </b>{{ material.isDeprecated ? 'Ja' : 'Nee' }}</p>

        <div><b>Tags: </b>
            {%- for tag in material.tags -%}
                {{ tag.name -}}
                {% if not loop.last %}, {% endif %}
            {%- endfor -%}
        </div>

        {% if app.request.attributes.get('_route') != 'material_index_pdf' %}
            {% if app.request.attributes.get('_route') == 'material_index' %}
                <button class="btn btn-primary">Voeg toe</button>
            {% endif %}
            {% if app.request.attributes.get('_route') == 'reservation_show' %}
                <button class="btn btn-secondary">Verwijderen</button>
            {% endif %}
        {% endif %}
    </div>
</section>
