<section class="card my-2">
    <div class="card-header">
        <h2>{{ material.name }}</h2>
    </div>
    <div class="card-body">
        <p><b>Locatie: </b>{{ material.location }}</p>
        <p><b>Aantal: </b>{{ material.amount }}</p>
        <p><b>Gekocht: </b>{{ material.dateBought|date('F Y') }}  ({{ material.dateBought|ago }})</p>

        <div><b>Tags: </b>
            {%- for tag in material.tags -%}
                {{ tag.name -}}
                {% if not loop.last %}, {% endif %}
            {%- endfor -%}
        </div>

        {% if app.request.attributes.get('_route') != 'material_list_pdf' %}
            <button class="btn btn-primary">Voeg toe</button>
        {% endif %}
    </div>
</section>
